.selected-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected-card{
    border: 2px dotted rgb(255, 169, 41);
    padding: 20px;
}
.place-booking-form{
    background-color: rgb(145, 212, 145);
    height: 100%;
    /* width: 100%; */
}
.place-booking-form input{
    display: block;
    width: 80%;
    margin: 15px;
    padding: 10px;
}